.login_pages {
    color: white;
    background: linear-gradient(300deg , #000000, #1F3A56 );

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .login-area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
        width: 25vw;
        background: linear-gradient(300deg, #1C1C1C, #121212);
        border-radius: 20px;
        padding: 20px; // Adiciona um espaçamento interno para melhor organização

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2vh;
            width: 100%; // Garante que o form ocupe toda a largura da div

            .input-container {
                position: relative;
                width: 70%;

                .icon {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #555;
                }

                input {
                    width: 100%;
                    padding: 10px 10px 10px 35px; 
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    outline: none;
                    background: #222;
                    color: white;
                }
            }

            button {
                background-color: white;
                border: 1px solid black;
                width: 9vw;
                height: 5vh;
                border-radius: 50px;
                transition: 0.5s;

                &:hover {
                    background-color: black;
                    color: white;
                    border: 1px solid white;
                }
            }
        }
    }
}
