.bloco_main {

    background-color: rgb(214, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;


    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s;
    }
    .img_book {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    height: 35vh;

    width: 13vw;

    .info_book {
        margin-top: auto;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;



            .gender {

                cursor: pointer;
                font-size: 1rem;
                color: #333;
                display: flex;
                flex-direction: row;
                gap: 1.5vw;
                transition: color 0.3s ease-in-out;

                p {
                    background-color: #f0f0f0;
                    padding: 0.5rem;
                    width: 5vw;
                    font-size: 14px;
                    border-radius: 0.25rem;
                }
                

                &:hover {
                    color: #000000;
                }

            
            }
        } 
    }
