header {


    
  
   

    .option-header {

        display: flex;
        justify-content: flex-end;
        gap: 5vh;
        padding-right: 5vh;

        p {
            background-color: black;
            border-radius: 5px;
            width: 8vh;
            height: 2vh;
            color: white;
            text-align: center;
        }
    }
    

    
   

}

//cordepassoca